
/* colors */
$color-primary: #17a2b8;
$color-primary-hover: #138496;
$color-secondary: #6c757d;
$color-secondary-hover: #5a6268;
$color-lightgray: #f6f6f6;
$color-white: #fff;
$color-darkslate: #323440;
$color-darkoverlay: rgba(0,0,0,.15);
$color-lightenoverlay: rgba(255 , 255 , 255, .55);

/* color for board */
$boardColors: (
  marine: #0079c5,
  sandy: #d29034,
  green-dark: #519839,
  burgund: #b04632,
  aubergine: #89609e,
  pinky: #cd5a91,
  green-light: #4bbf6b,
  sky: #00aecc,
  gray: #838c91
);

@each $name, $color in $boardColors {
  .color--#{$name} {
    background-color: $color;
  }

  :export {
    #{$name}: $color;
  }
}

/* font sizes */
$font-s: 16px;
$font-m: 18px;
$font-l: 22px;
$font-xl: 26px;
$font-xxl: 30px;
