.board-card {
  width: 240px;
  height: 250px;
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 6px;
  border: 1px solid lightgray; }
  .board-card__header {
    padding: 8px 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .board-card__header-title {
    margin: 6px 0; }
  .board-card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 20px; }
  .board-card__row {
    display: flex;
    justify-content: space-between; }
  .board-card__button {
    width: 100%; }
