.board-card {
  width: 230px;
  height: 250px;
  margin: 10px 15px;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__button-row {
    margin-top: 30px;

    & button {
      width: 100%;
    }
  }
}