.board-card {
  width: 200px;
  margin: 10px 15px;
  background-color: red; }
  .board-card__row {
    display: flex;
    justify-content: space-between; }
  .board-card__button-row {
    margin-top: 30px; }
    .board-card__button-row button {
      width: 100%; }
