@import '~partials/variables';

.board-card {
  width: 240px;
  height: 250px;
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid $color-gray;

  &__header {
    padding: 8px 15px;
    text-align: center;
    border-bottom: 1px solid $color-gray;
  }

  &__header-title {
    margin: 6px 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 20px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &--visibility {
      margin: 20px 0;
    }
  }

  &__button {
    width: 100%;
  }
}