.button {
  min-height: 42px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
  padding: 0 20px; }
  .button:focus {
    outline: none; }
  .button--primary {
    color: #fff;
    background-color: #17a2b8; }
    .button--primary:hover {
      background-color: #138496; }
  .button--secondary {
    color: #fff;
    background-color: #6c757d; }
    .button--secondary:hover {
      background-color: #5a6268; }
  .button--transparent {
    color: #6c757d;
    background-color: transparent; }
    .button--transparent:hover {
      color: #5a6268; }
