@import '~partials/variables';

.button {
  min-height: 42px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
  padding: 0 20px;
  font-size: 16px;

  &:focus {
    outline: none;
  }

  &--primary {
    color: $color-white;
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &--secondary {
    color: $color-white;
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary-hover;
    }
  }

  &--transparent {
    color: $color-darkslate;
    background-color: transparent;
  }
}