@import '~partials/variables';

.text {
  &__h1 {
    font-size: $font-xxl;
  }

  &__h2 {
    font-size: $font-xl;
  };

  &__h3 {
    font-size: $font-l;
  }

  &__h4 {
    font-size: $font-m;
  }

  &__p {
    font-size: $font-s;
    margin: 4px 0;
  }

  &--light {
    font-weight: 300;
  }

  &--regular {
    font-weight: 400;
  }

  &--bold {
    font-weight: 700;
  }
}