.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center; }
  .custom-modal__close-btn {
    font-size: 26px; }
  .custom-modal__content {
    width: 100%;
    max-width: 650px;
    background-color: white;
    border-radius: 5px; }
