.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 100%;
    max-width: 650px;
    background-color: white;
    border-radius: 5px;
    animation: slidein 0.6s;

    &--closed {
      animation: slideout 0.3s;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__close-btn {
    font-size: 30px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: border 0.3s, color 0.3s;

    &:hover {
      border: 2px solid #17394d;
      color: #17394d;
    }
  }

  &__body {
    padding: 16px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    border-top: 1px solid #e9ecef;

    & :not(:last-child) {
      margin-right: 5px;
    }

    & :not(:first-child) {
      margin-left: 5px;
    }
  }

  @keyframes slidein {
    from { transform: translateY(-60px); }
    to { transform: translateY(0px); }
  }

  @keyframes slideout {
    from { transform: translateY(0px); }
    to { transform: translateY(-150px); }
  }
}