.list {
  width: 280px;
  margin: 10px 15px; }
  .list__body {
    padding: 8px; }
  .list__entry {
    color: #383d41;
    border-color: #d6d8db;
    margin-bottom: 8px;
    box-shadow: 0 0 3px 0 rgba(179, 138, 138, 0.7);
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s, box-shadow 0.5s; }
    .list__entry:hover {
      background-color: #e2e3e5;
      box-shadow: 0 0 3px 0 #b38a8a; }
