.board {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &__boards-wrapper {
    display: flex;
  }

  &__add-new-list {
    width: 280px;
    height: 32px;
    background-color: #f8f9fa;
    box-shadow: 0 0 3px 0 rgba(179, 138, 138, 0.7);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, box-shadow 0.5s;
    margin: 10px 15px;

    &:hover {
      background-color: #e2e3e5;
      box-shadow: 0 0 3px 0 #b38a8a;
    }
  }
}