$imdas: 20px;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    width: 100%;
    text-align: left;
  }

  &__boards {
    display: flex;
  }
}