$imdas: 20px;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    width: 100%;
    text-align: left;
  }

  &__boards {
    display: flex;
  }

  &__create-new {
    margin: 10px 15px;
    width: 230px;
    cursor: pointer;
    justify-content: center;
    transition: all 0.3s;
    color: #838c91;
    background-color: #e2e4e6;
    text-align: center;

    &:hover {
      color: #4d4d4d;
      background-color: #C5C6C7;
      border: 2px solid rgba(0,0,0,.125);
    }
  }
}