$imdas: 20px;

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  &__title {
    width: 100%;
    text-align: left;

    & > h2 {
      padding-left: 15px;
    }
  }

  &__boards {
    display: flex;
  }
}