$colors: (
  white: #FFF,
  sky: #375E97,
  poppy: #E1420E,
  stem: #80BD9E,
  autumn: #763626,
  shadow: #2A3132,
  stone: #336B87,
  meadow: #598234,
);

@each $name, $color in $colors {
  .color--#{$name} {
    background-color: lighten($color, 30%);
  }

  :export {
    #{$name}: $color;
  }
}


